<div id="product_list">
  <h1>Listing Products</h1>
  <table>
    <% product.each do |product| %>
      <tr>
        <td>
          <%= image_tag product.image_url, :class => 'img-responsive' unless product.image_url.blank? %>
        </td>
        <td class="list_description">
          <dl>
            <dt>
              <%= product.title %>
            </dt>
            <dd>
              <%= truncate(strip_tags(product.description),
            :length => 80) %>
            </dd>
          </dl>
        </td>
        <td class="list_actions">
          <%= product.price %>
        </td>
        <td>
          <%= link_to product, class:"btn btn-success" do %>
          <i class="glyphicon glyphicon-cog"></i> Show
          <% end %>
          <br/>
          <%= link_to  edit_product_path(product), class: "button button-border button-edit" do%>
            <i class="glyphicon glyphicon-edit"></i> Edit
          <% end %>
          <br/>
          <%= link_to product, class: "button button-border button-destroy", method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="glyphicon glyphicon-remove"></i> Destroy
          <% end %>
        </td>
      </tr>
      <% end %>
  </table>
</div>
<br>
<%= react_component('Main', {name: 'Mango'}) %>

<%= link_to 'New Product', new_product_path %>
