<p id="notice">
  <%= notice %>
</p>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Products</h3>
      </div>
      <div class="panel-body">
        <p>
          <strong>Title:</strong>
          <%= product.title %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= product.description  %>
        </p>
        <p>
          <strong>Image url:</strong>
          <%=product.image_url %>
        </p>
        <p>
          <strong>Price:</strong>
          <%= product.price %>
        </p>
      </div>
      <div class="panel-footer">
        <div class="btn-group">
          <%= link_to edit_product_path(product), class: "button button-border button-edit" do %>
          <i class="glyphicon glyphicon-edit"></i> Edit
          <% end %>
          <%= link_to  products_path, class: "button button-border" do %>
          <i class="glyphicon glyphicon-hand-left"></i> Back
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
