<p id="notice"><%= notice %></p>
<div>
<p>
  <strong>Product:</strong>
  <%= @line_item.product_id %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart_id %>
</p>
</div>
<%= link_to 'button button-border', edit_line_item_path(@line_item) %> |
<%= link_to line_items_path, class: "button button-border" do %>
<i class="glyphicon glyphicon-hand-left"></i> Back
<% end %>
