<!DOCTYPE html>
<html>

<head>
  <title>Depot</title>
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.core.js"></script>
</head>

<body class="<%=controller.controller_name %>">
  <div id="main-container" class="container">
    <div id="banner">
      <%= image_tag("logo.png") %>
        <%= @page_title || "Pragmatic Bookshelf" %>
    </div>
    <div id="columns">
      <div id="side">
        <div id="cart">
        <% if @cart %>
          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
          <% end %>
        <% end %>
        </div>
        <ul class="nav navbar-nav navbar-header">
          <li>
            <%= link_to 'Home', products_path, class: "active" %>
          </li>
          <li>
            <%= link_to 'Products', new_product_path, class: "nav-link scroll" %>
          </li>
          <li>
            <%= link_to 'Line Items', new_line_item_path, class: "nav-link scroll" %>
          </li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </div>
</body>

</html>
